.textfieldSection {
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 20px;
    background-color: white;
    padding: 40px;
    border-bottom-right-radius: 10px;
}
.buttonSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}