.layout {
  margin: 100px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #333;
  position: absolute;
  width: 100%;
  z-index: 11111;
  top: 0;
  left: 0;

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        color: white;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}
.logo {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
